body {
  background-color: #333;
  color: #0095ff;
}

#form {
  text-align: center;
  width: 50%;
  margin: 0 auto;
  padding-top: 6em;
}

#repoName, #githubUsername, #fileName, #button {
  text-align: center;
}

#repoName, #githubUsername, #fileName {
  display: inline-block;
  width: 100%;
}

label {
    padding-top: 1em;
  font-size: 1.5em;
}

input {
  background-color: #333;
  color: #0095ff;
  border: 1px solid #0095ff;
  border-radius: 5px;
  padding: 0.5em;
  font-size: 1.5em;
}

#button {
  display: inline-block;
  width: 100%;
  font-size: 1.5em;
  margin-top: 1em;
}
